<a href="https://colab.research.google.com/github/Architha-sketch/Python-for-DataScience/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "city": ["Hyderabad", "Chennai", "Hyderabad", "Bangalore", "Chennai"]
})


transactions = pd.DataFrame({
    "transaction_id": [101, 102, 103, 104, 105, 106, 107],
    "customer_id": [1, 2, 1, 3, 4, 5, 2],
    "amount": [2500, 1500, 3000, 4000, 2000, 1000, 3500]
})


merged_data = pd.merge(transactions, customers, on="customer_id", how="inner")

print("Merged Dataset:\n", merged_data, "\n")


customer_spend = merged_data.groupby(["customer_id", "name"])["amount"].sum().reset_index()
customer_spend = customer_spend.rename(columns={"amount": "total_spend"})

print("Total Spend per Customer:\n", customer_spend, "\n")


city_spend = merged_data.groupby("city")["amount"].sum().reset_index()
city_spend = city_spend.rename(columns={"amount": "city_total_spend"})

print("City-wise Spending:\n", city_spend, "\n")


top_spender = customer_spend.loc[customer_spend["total_spend"].idxmax()]

print("Top Spender:\n", top_spender, "\n")


print("Insights:")
print(f"- The top spender is {top_spender['name']} with a total spend of {top_spender['total_spend']}.")
print(f"- Customers in {city_spend.loc[city_spend['city_total_spend'].idxmax(), 'city']} "
      f"spend the most overall with {city_spend['city_total_spend'].max()}.")

Merged Dataset:
    transaction_id  customer_id  amount     name       city
0             101            1    2500    Alice  Hyderabad
1             102            2    1500      Bob    Chennai
2             103            1    3000    Alice  Hyderabad
3             104            3    4000  Charlie  Hyderabad
4             105            4    2000    David  Bangalore
5             106            5    1000      Eva    Chennai
6             107            2    3500      Bob    Chennai

Total Spend per Customer:
    customer_id     name  total_spend
0            1    Alice         5500
1            2      Bob         5000
2            3  Charlie         4000
3            4    David         2000
4            5      Eva         1000

City-wise Spending:
         city  city_total_spend
0  Bangalore              2000
1    Chennai              6000
2  Hyderabad              9500

Top Spender:
 customer_id        1
name           Alice
total_spend     5500
Name: 0, dtype: object

Insights:
- The top spender is Alice with a total spend of 5500.
- Customers in Hyderabad spend the most overall with 9500.

In [2]:
import pandas as pd

patients = pd.DataFrame({
    "patient_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "age": [30, 45, 50, 28, 35],
    "gender": ["F", "M", "M", "M", "F"]
})
appointments = pd.DataFrame({
    "appointment_id": [101, 102, 103, 104, 105, 106, 107, 108],
    "patient_id": [1, 2, 1, 3, 4, 2, 1, 5],
    "doctor": ["Dr. Smith", "Dr. Lee", "Dr. Smith", "Dr. Patel",
               "Dr. Lee", "Dr. Smith", "Dr. Patel", "Dr. Lee"],
    "date": ["2025-09-01", "2025-09-02", "2025-09-05", "2025-09-07",
             "2025-09-10", "2025-09-12", "2025-09-13", "2025-09-13"]
})


merged_data = pd.merge(appointments, patients, on="patient_id", how="inner")

print("Merged Dataset:\n", merged_data, "\n")


patient_visits = merged_data.groupby(["patient_id", "name"])["appointment_id"].count().reset_index()
patient_visits = patient_visits.rename(columns={"appointment_id": "total_visits"})

print("Appointments per Patient:\n", patient_visits, "\n")


doctor_workload = merged_data.groupby("doctor")["appointment_id"].count().reset_index()
doctor_workload = doctor_workload.rename(columns={"appointment_id": "appointments_handled"})

print("Doctor Workload:\n", doctor_workload, "\n")


top_patient = patient_visits.loc[patient_visits["total_visits"].idxmax()]

print("Most Frequent Patient:\n", top_patient, "\n")

print("Insights:")
print(f"- The most frequent patient is {top_patient['name']} with {top_patient['total_visits']} visits.")
print(f"- The busiest doctor is {doctor_workload.loc[doctor_workload['appointments_handled'].idxmax(), 'doctor']} "
      f"handling {doctor_workload['appointments_handled'].max()} appointments.")

Merged Dataset:
    appointment_id  patient_id     doctor        date     name  age gender
0             101           1  Dr. Smith  2025-09-01    Alice   30      F
1             102           2    Dr. Lee  2025-09-02      Bob   45      M
2             103           1  Dr. Smith  2025-09-05    Alice   30      F
3             104           3  Dr. Patel  2025-09-07  Charlie   50      M
4             105           4    Dr. Lee  2025-09-10    David   28      M
5             106           2  Dr. Smith  2025-09-12      Bob   45      M
6             107           1  Dr. Patel  2025-09-13    Alice   30      F
7             108           5    Dr. Lee  2025-09-13      Eva   35      F

Appointments per Patient:
    patient_id     name  total_visits
0           1    Alice             3
1           2      Bob             2
2           3  Charlie             1
3           4    David             1
4           5      Eva             1

Doctor Workload:
       doctor  appointments_handled
0    Dr. Lee                     3
1  Dr. Patel                     2
2  Dr. Smith                     3

Most Frequent Patient:
 patient_id          1
name            Alice
total_visits        3
Name: 0, dtype: object

Insights:
- The most frequent patient is Alice with 3 visits.
- The busiest doctor is Dr. Lee handling 3 appointments.